@model HeadHunter.ViewModels.EmployerViewModel

@{
    ViewBag.Title = "Личный кабинет";
    Layout = "_Layout";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="user-header text-center">
            <img src="@Model.User.AvatarPath" class="applicant-avatar col-md-6" alt="avatar" id="user-avatar">
            <h4 class="text-secondary my-2">Работодатель</h4>
            <h5 class="text-secondary my-3" id="user-name">@Model.User.UserName</h5>
        </div>
        <div class="main-info mt-3 ml-3" id="mainInfo">
            <h5>Основная информация</h5>
            <div id="user-name-main"><p>@Model.User.UserName</p></div>
            <p>@Model.User.Email</p>
            <div id="user-phone"><p>@Model.User.PhoneNumber</p></div>
            <button class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#editForm">Редактировать</button>
        </div>
        <div class="vacancy-info mt-3">
            <h5>Вакансии компании</h5>
            @if (@Model.Vacancies.Count == 0)
            {
                <div class="note">
                    <p class="text-secondary font-italic">Добавьте вакансии для отображения в списке</p>
                </div>
            }
            @foreach (var vacancy in Model.Vacancies)
            {
                <div class="row no-gutters">
                    <div class="card border-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-header bg-transparent border-success">@vacancy.Name</div>
                        <div class="card-body text-secondary">
                            <ul>
                                <li class="card-text">
                                    Зарплата - @vacancy.Salary
                                </li>
                                <li class="card-text">
                                    Дата обновления - @vacancy.DateOfPublication
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer bg-transparent border-success">
                            <button class="btn btn-outline-primary" type="submit" value="@DateTime.Now">Обновить</button>
                            @* <a class="btn btn-outline-primary" asp-action="Edit" asp-controller="Vacancy">Редактировать</a> *@
                        </div>
                    </div>
                </div>
            }
        </div>
          <div class="modal fade" id="editForm">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-uppercase" id="editModalLabel">Редактирование</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="form">
                  <div class="form-group">
                    <label for="usernameInput">Название компании</label>
                    <input type="text" class="form-control" id="username" placeholder="@Model.User.UserName">
                  </div>
                  <div class="form-group">
                    <label for="phoneInput">Телефон</label>
                    <input type="text" class="form-control" id="phone" placeholder="@Model.User.PhoneNumber">
                  </div>
                  <div class="form-group">
                    <label for="avatarFile">Аватар</label>
                    <input type="file" class="form-control" id="avatar">
                  </div>
                    <input type="hidden" id="userId" value="@Model.User.Id">
                  <button type="button"
                    class="btn btn-outline-primary" id="done" onclick="EditAjax()">Изменить</button>
                </form>
                <div class="modal-body register-succes" id="succes">
                    <h4>Изменено!</h4>
                    <i class="check-custom fas fa-check"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script >
         $('#succes').hide();
         function EditAjax(){
             var userId = $('#userId').val()
             var userName = $('#username').val()
             var phone = $('#phone').val()
             var avatar = $('#avatar').val()
            $.ajax({
                url : '@Url.Action("EditAjax", "Account")',
                type : 'GET',
                data : {
                    'userId' : userId,
                    'userName' : userName,
                    'phone' : phone,
                    'avatar' : avatar
                },
                success : function (data){
                    $('#user-name').html(data.userName);
                    $('#user-name-main').html('<p>' + data.userName + '</p>');
                    $('#user-phone').html('<p>' + data.phoneNumber + '</p>');
                    $('#user-avatar').text(data.avatarPath);
                    console.log(data);
                    console.log(data.avatarPath);
                }
             });
             $('#form').hide();
             $('#succes').show();
             
         }
        
    </script>
}
