@model HeadHunter.ViewModels.ApplicantViewModel

@{
    ViewBag.Title = "Личный кабинет";
    Layout = "_Layout";
}

<div class="container">
    <div class="user-header text-center">
        <img src="@Model.User.AvatarPath" class="applicant-avatar col-md-2" alt="фото соискателя">
        <h4 class="text-secondary my-2">Сотрудник</h4>
        <h5 class="text-secondary my-3">@Model.User.UserName</h5>
    </div>
    
    @if (Model.JobExperiences.Count == 0)
    {
        <div class="note">
            <p class="text-secondary font-italic">Заполните информацию о себе, чтобы у вас получилось готовое для публикации резюме</p>
        </div>
    }
    <div class="main-info mt-3 ml-3">
        <h5>Основная информация</h5>
        <p>@Model.User.UserName</p>
        <p>@Model.User.Email</p>
        <p>@Model.User.PhoneNumber</p>
    </div>
    
    <div class="job-experience-block">
            
        </div>
    <div class="qualifications-block">
        
    </div>

    <div class="resume-block">
            
    </div>
    
</div>
