@using Microsoft.AspNetCore.Identity
@using HeadHunter.Enums
@model Resume
@inject UserManager<User> UserManager

@{
    ViewBag.Title = "Редактирование резюме";
    Layout = "_Layout";
}

@if (Model.ApplicantId != @UserManager.GetUserId(User))
{
    <p>Доступ закрыт</p>
}
else
{
<div class="d-flex justify-content-between">
    <h4 class="mx-3">@ViewBag.Title</h4>
    <p class="text-secondary font-italic px-2">@Model.Status</p>
    @if (Model.Status == Status.Публичное)
    {
        <p class="text-secondary font-italic px-2">@Model.DateOfPublication.Value.Date.ToShortDateString()</p>
    }
</div>

    <form asp-controller="Resumes" asp-action="EditResume" method="post">
        <input type="hidden" asp-for="ApplicantId" value="@Model.ApplicantId">
    
        <div class="form-group mt-2">
            <label asp-for="CategoryId" class="control-label">Категория: </label>@Model.Category.Name<br>
            @if (ViewBag.Categories.Count != null)
            {
                <select asp-for="CategoryId">
                    <span asp-validation-for="CategoryId"></span><br>
                    @foreach (var cat in ViewBag.Categories)
                    {
                        <option class="col-4" value="@cat.Id">@cat.Name</option>
                    }
                </select>
            }
        </div>
        <div class=" mt-2">
            <label asp-for="PositionName" class="control-label">Название:</label>
            <span asp-validation-for="PositionName"></span><br>
            <input asp-for="PositionName" class="col-4" value="@Model.PositionName">
        </div>
        <div class="form-group mt-2">
            <label asp-for="Salary" class="">Ожидаемая зарплата:</label>
            <span asp-validation-for="Salary"></span><br>
            <input asp-for="Salary" class="col-4" value="@Model.Salary">
        </div>
    
        <div class="form-group mt-2">
            <label class="control-label">Email:</label>
            <input disabled class="col-4" value="@UserManager.FindByIdAsync(@Model.ApplicantId).Result.Email">
        </div>
        <div class="form-group mt-2">
            <label asp-for="Telegram" class="control-label">Ваш логин в телеграм:</label>
            <span asp-validation-for="Telegram"></span><br>
            <input asp-for="Telegram" class="col-4" value="@Model.Telegram">
        </div>
        <div class="form-group mt-2">
            <label class="control-label">Конт.телефон:</label>
            <input disabled class="col-4" value="@UserManager.FindByIdAsync(@Model.ApplicantId).Result.PhoneNumber">
        </div>
    
        <div class="form-group mt-2">
            <label asp-for="Facebook" class="control-label">Ссылка на ваш профиль Фэйсбук:</label>
            <span asp-validation-for="Facebook"></span><br>
            <input asp-for="Facebook" class="col-4" value="@Model.Facebook">
        </div>
        <div class="form-group mt-2">
            <label asp-for="LinkedIn" class="control-label">Ссылка на ваш профиль Линкедин:</label>
            <span asp-validation-for="LinkedIn"></span><br>
            <input asp-for="LinkedIn" class="col-4" value="@Model.LinkedIn">
        </div>
        
        <button type="submit" class="btn-sm btn-outline-primary ml-3 my-2">Редактировать</button>
    </form>
}



@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
