@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - HeadHunter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="head-logo" src="/Images/Logo/logo-hh.png" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole("applicant"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Vacancies" asp-action="GetVacancies">Публичные вакансии</a>
                            </li>
                        }
                        @if (User.IsInRole("employer"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Resumes" asp-action="GetResumes" asp-route-employerId="@UserManager.GetUserAsync(User).Id">Публичные резюме</a>
                            </li>
                        }
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="form-inline ml-auto">
                            <form asp-action="Logout" asp-controller="Account" method="post">
                                @if (User.IsInRole("applicant"))
                                {
                                    <a asp-action="ApplicantProfile" asp-controller="Users" asp-route-userId="@UserManager.GetUserId(User)">
                                        <i class="fas fa-user-tie" style="font-size: 30px; color: #0366d6" aria-hidden="true"></i>
                                    </a>
                                }
                                @if (User.IsInRole("employer"))
                                {
                                    <a asp-action="EmployerProfile" asp-controller="Users" asp-route-userId="@UserManager.GetUserId(User)">
                                        <i class="fas fa-users" style="font-size: 30px; color: #0366d6" aria-hidden="true"></i>
                                    </a>
                                }
                                <input type="submit" class="btn" value="Выход">
                            </form>
                        </div>
                    }
                    else
                    {
                        <div class="form-inline ml-auto">
                            <a asp-action="Login" asp-controller="Account" class="btn ml-2">Вход</a>
                            <a asp-action="Register" asp-controller="Account" class="btn">Регистрация</a>
                        </div>
                    }

                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - HeadHunter - <a asp-area="" asp-controller="Home" asp-action="Index">Главная страница</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>