@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using System.ComponentModel
@using X.PagedList.Mvc.Bootstrap4.Core
@using X.PagedList.Mvc.Core
@model HeadHunter.ViewModels.AllVacanciesViewModel

@{
    ViewBag.Title = "Вакансии работодателей";
    Layout = "_Layout";
}

<h4>@ViewBag.Title</h4>
<div class="container">
    <form method="get" class="mt-3 mb-5" style="border: 1px dotted lightslategrey; border-radius: 8px;">
        <div class="form-inline form-group">
            <div class="m-3">
                <label class="control-label">Категория: </label>
                @if (Model.Categories.Any())
                {
                    <select asp-for="CategoryId" id="categoryId" name="categoryId" class="form-control">
                        @foreach (var cat in Model.Categories.ToList())
                        {
                            <option class="col-4" value="@cat.Id">@cat.Name</option>
                        }
                    </select>
                }
            </div>
            <div class="m-3">
                <label class="control-label">Зарплата по </label>
                <select asp-for="SalaryOrder" id="salaryOrder" name="salaryOrder" class="form-control">
                    <option class="col-4" value="asc" selected>возрастанию</option>
                    <option class="col-4" value="desc">убыванию</option>
                </select>
            </div>
            <div class="m-3">
                <label class="control-label">По названию резюме </label>
                @Html.TextBox("positionPart", Model.Position, new {@class = "form-control", @placeholder = "полностью или частично"})
            </div>
            <div class="my-auto pt-3">
                <input type="submit" class="btn-sm btn-outline-primary" value="Найти по заданным параметрам">
            </div>
        </div>
    </form>
    @if (Model.Vacancies.Any())
    {
        @foreach (var vacancy in @Model.Vacancies)
        {
            <div class="card text-center mb-4">
                <div class="card-header p-1">
                    <small>
                        <a asp-controller="Users" asp-action="EmployerProfile" asp-route-userId="@vacancy.EmployerId"
                           asp-route-resumeId="@vacancy.Id" class="btn-sm btn-outline-primary">
                            Перейти к профилю работодателя
                        </a>
                    </small>
                </div>
                <div class="card-body">
                    <a asp-controller="Vacancies" asp-action="Index" asp-route-id="@vacancy.Id">
                        <h5 class="card-title">
                            @vacancy.Name
                        </h5>
                    </a>
                    @if (@vacancy.Salary != 0)
                    {
                        <p class="card-text p-1">Зарплата - @vacancy.Salary тенге</p>
                    }
                    else
                    {
                        <p class="card-text p-1">Зарплата - не указано</p>
                    }
                </div>
                <div class="card-footer text-muted p-1">
                    @if (vacancy.DateOfPublication != null)
                    {
                        <span>Дата публикации: @vacancy.DateOfPublication.Value.Date.ToShortDateString()</span>    
                    }
                </div>
            </div>
        }
        <p class="my-3">Страница @(Model.Vacancies.PageCount < Model.Vacancies.PageNumber ? 0 : Model.Vacancies.PageNumber) из @Model.Vacancies.PageCount</p>
        
        <div class="row justify-content-center">
            @Html.PagedListPager(Model.Vacancies, page => Url.Action("GetVacancies", "Vacancies", 
                new {page}), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast);
        </div>
    }
    else
    {
        <p>Публичных вакансий пока нет</p>
    }
</div>
@section Scripts
{
    <script>
    
    </script>
}
